<div class="mb-3" style="background: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80') top center / cover no-repeat;">
    <div style="width: 100%; height: 360px !important;background: linear-gradient(25deg,rgba(15, 89, 224, 0.65),rgba(22, 11, 189, 0.85));"></div>
</div>

<!-- Inicio container -->
<div class="container" style="margin-top: -310px;">
    <div class="d-flex flex-column text-white py-3 align-items-center">
        <h4 class="h5 text-center">Online Store</h4>
        <h1 class="font-weight-bold text-center pb-3">Sistema de registro de productos</h1>

        <a class="font-weight-bold btn btn-success btn-lg mb-1 px-5 shadow" [routerLink]="['/products']" style="border-radius: 50px;">Lista de productos</a>
    </div>

    <!-- itens em blocos -->
    <div class="row py-4">
        <div class="col-md-3 col-sm-6 pb-3 px-2 card-mobile">
            <div class="card shadow rounded-lg">
                <a class="card-body text-center">
                    <p><i class="grey-text fa fa-laptop fa-3x"></i></p>
                    <h4 class="grey-text">Laptops</h4>
                    <p></p>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 pb-3 px-2 card-mobile">
            <div class="card shadow rounded-lg">
                <a class="card-body text-center">
                    <p><i class="grey-text fa fa-mobile fa-3x"></i></p>
                    <h4 class="grey-text">Celulares</h4>
                    <p></p>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 pb-3 px-2 card-mobile">
            <div class="card shadow rounded-lg">
                <a class="card-body text-center">
                    <p><i class="grey-text fa fa-headphones fa-3x"></i></p>
                    <h4 class="grey-text">Gadgets</h4>

                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 pb-3 px-2 card-mobile">
            <div class="card shadow rounded-lg">
                <a class="card-body text-center">
                    <p><i class="grey-text fa fa-camera-retro fa-3x"></i></p>
                    <h4 class="grey-text">Fotografía</h4>

                </a>
            </div>
        </div>
    </div>
    <!-- Fim itens em blocos -->
</div>